@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

.logo {
    height: 30;
    font-weight: 30;
    color: rgb(19, 201, 95);
    font-family: 'Sedgwick Ave', cursive;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 5;
  }
